.todo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    border: 2px solid black;
    padding: 5px;
    margin: 15px 2rem 0 2rem;
}

.task {
    padding-left: 10px;
    font-weight: 500;
    word-break: break-all;
}

.done {
    padding-left: 10px;
    font-weight: 500;
    text-decoration-line: line-through;
    text-decoration-thickness: 2px;
    text-decoration-color: red;
    word-break: break-all;
}

.remove {
    border-radius: 10px;
    color: red;
    background-color: white;
}
